<h1>Users Backoffice</h1>

<h1>Welcome, <%= current_user.email %> </h1>

<%= link_to 'Controle de Veiculos', controle_veiculos_path, class: "btn btn-success" %> <br><br>
<%= link_to 'Controle Portaria', controle_portaria_path, class: "btn btn-info" %>
