<% name = current_user.present? ? current_user.email : 'Visitante.' %>

<h1>Bem vindo, <%= name %> </h1>

<%= link_to 'Área do Usuário', users_backoffice_welcome_index_path, class: "btn btn-success" %>
